*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    background-color: black;
    overflow: hidden;
}

main{
    height: 100%; 
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}



button {
    background-color: red;
    padding: 20px 30px;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    z-index: 2;
}
button:active{
    scale: 0.9;
}
