*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;
    background-color: black;
    overflow: hidden;
}


main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 50px 30px;
    font-family: monospace;
}

#card p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight:500;
}
#card span{
    font-weight: 700;
    color: royalblue;
}
#outer{
    height: 20px;
    width: 100%;
    background-color: rgb(200, 199, 199);
    border-radius: 50px;
}


#inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 50px;
}

#bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#bottom h2{
    font-size: 60px;
}

#bottom button{
    padding: 12px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: 0;
}

#bottom button:active{
    scale: 0.95;
}